html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    font-family: 'Mitr', sans-serif;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

.container {
    width: 1286px;
    margin: auto;
}

/*main_header*/

.main_header {
    background-image: url("img/background_header.png");
    background-repeat: no-repeat;
    background-size: cover;

}

.main_header .main_nav {
    position: fixed;
    width: 100%;
    background-color: #fff;
    opacity: 0.9;
    z-index: 3;
}

.main_header .main_nav .nav {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    padding-top: 22px;
}



.main_header .main_nav .logo {
    margin-right: 170px;
}

.main_header .main_nav .nav .menu {
    display: flex;
    list-style: none;
}

.main_header .main_nav .nav .menu .menu_wrap .menu_link {
    text-decoration: none;
    margin-left: 70px;
    font-family: Mitr, sans-serif;
    color: #120203;
    font-size: 18px;
    cursor: pointer;
}

/*header*/

.header {
    padding-top: 220px;
    padding-bottom: 360px;
    text-align: center;
}

.header .sub_title {
    margin-top: 50px;
    font-family: Mitr, sans-serif;
    font-size: 25px;
    color: #fff;
    text-transform: uppercase;
}

/*welcome_article*/

.welcome_article {
    text-align: center;
    padding: 150px 0;
    animation-duration: 2s;
    animation-name: slideUp;
}

.welcome_article .title_article {
    font-size: 40px;
    color: #f01b16;
    text-transform: uppercase;
    margin-bottom: 70px;
}

.welcome_article .paragraph_article {
    font-size: 22px;
    margin: auto;
    max-width: 1072px;
    color: #9f9a97;
    margin-bottom: 50px;
}

.welcome_article .reservation_button {
    background-color: #ff7e66;
    padding: 18px 40px;
    font-size: 16px;
    color: #fff2ee;
    text-decoration: none;
    text-transform: uppercase;
}



.cooking_article {
    background-color: #fff2ed;
    display: flex;
    opacity: 0;
    animation-duration: 2s;
}

.cooking_image {
    background-image: url(img/background_cooking.png);
    width: 50%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.cooking_article .cooking_wrapper {
    text-align: center;
    padding-top: 100px;
    max-width: 530px;
    margin: 0 auto;
    padding-bottom: 120px;
}

.cooking_article .cooking_wrapper .cooking_title {
    font-size: 45px;
    font-weight: bold;
    color: #ff7e66;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.cooking_article .cooking_wrapper .cooking_parafraph {
    font-size: 18px;
    color: #9f9a97;
    margin-top: 30px;
}



.our_baking {
    text-align: center;
    padding: 150px 0;
    opacity: 0;
    animation-duration: 6s;
}

.our_baking .title_our_baking {
    font-size: 40px;

    color: #f01b16;
}

.our_baking  .paragraph_our_baking {
    color: #9f9a97;
    font-size: 22px;
    margin: 70px;
}

.our_baking .button_menu {
    font-size: 16px;
    color: #fff2ee;
    text-decoration: none;
    text-transform: uppercase;
    background-color: #ff7e66;
    padding: 18px 54px;
}



.lemon_cake_article {
    background-image: url("img/lemon_cake.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 150px;
    background-position: center;
    padding-top: 90px;
    opacity: 0;
    animation-duration: 2s;
}

.lemon_cake_article .lemon_wrapper {
    max-width: 560px;
    margin: auto;
    text-align: left;
}

.lemon_cake_article .lemon_wrapper .lemon_paragraph {
    font-size: 18px;
    color: #fff;
    margin: 60px 0;
}

.lemon_cake_article .lemon_wrapper .price {
    font-size: 50px;
    color: #fff;
    margin-bottom: 60px;
}

.lemon_cake_article  .lemon_wrapper .button_view_all {
    border: 3px solid #fff;
    font-size: 18px;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    padding: 12px 30px;

}




.service{
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    animation-duration: 2s;
}

.service .service_article {
    margin: 60px 100px;
    text-align: center;

}

.service .service_article .sub_title {
    font-size: 30px;
    color: #120203;
}

.gallery {
    opacity: 0;
    animation-duration: 6s;
}

.gallery .first_article {
    display: flex;
}

.gallery .second_article {
    display: flex;
}
.gallery .gallery_photo {
    height: 440px;
    width: 25%;
}

.gallery .gallery_photo.second {
    width: 50%;
}

.gallery .gallery_photo.third {
    width: 50%;
}

.gallery .second_article .wrapper {
    width: 25%;
    background-image: url(img/gallery/fourth_photo.png);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    color: #ff7e66;

}

.gallery .second_article .wrapper .sub_title_gallery {
    background-color: #f01b16;
    padding: 70px 120px;
    text-align: center;
    opacity: 90%;
}

.gallery .gallery_title {
    font-size: 50px;
    font-weight: bold;
    color: #ff7e66;
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff2ed;
}

.our_blog {
    margin: 160px 0 ;
    opacity: 0;
    animation-duration: 2s;
}

.our_blog .photos_our_blog {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.our_blog .title_our_blog {
    color: #f01b16;
    font-size: 40px;
    text-align: center;
    margin-bottom: 70px;
}
.our_blog .paragraph_our_blog {
    text-align: center;
    color: #9f9a97;
    font-size: 22px;
    margin-bottom: 100px;
}
.our_blog .photos_our_blog .background_first {
    background-image: url(img/how_to_make_first.png);

}
.our_blog .photos_our_blog .background_second {
    background-image: url(img/how_to_make_second.png);
}
.our_blog .photos_our_blog .background_third {
    background-image: url(img/how_to_make_third.png);
}
.our_blog .photos_our_blog .background_fourth {
    background-image: url(img/how_to_make_fourth.png);
}
.our_blog .photos_our_blog .background_first, .background_second, .background_third, .background_fourth {
    height: 340px;
    width: 250px;
    margin-left: 25px;
}


.our_blog .photos_our_blog  .how_to_make{
    background-color: white;
    border-bottom-left-radius: 125px;
    border-bottom-right-radius: 125px;
    height: 170px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 26px;
    flex-wrap: wrap;
    text-align: center;
    transition: 2s;
}

.our_blog .photos_our_blog  .how_to_make:hover {
    height: 200px;
    border-bottom-right-radius: 60px;
    border-bottom-left-radius: 60px;
}

.contact_us {
    background-image: url(img/background_contact_us.png);
    opacity: 0;
    animation-duration: 2s;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}

.contact_us .background_color_contact {
    background-color: rgba(0,0,0,0.5);
    padding-top: 160px;
    padding-bottom: 70px;
}



.contact_us .title_contact_us {
    font-size: 40px;
    color: #fff;
    text-align: center;
    margin-bottom: 80px;
}

.contact_us .contact_form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

.contact_us .contact_form .name, .email, .subject {
    background: transparent;
    width: 350px;
    margin-bottom: 35px;
    font-size: 20px;
    color: #fff;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 30px;
}
.contact_us .contact_form .name{
    margin-right: 55px;

}
.contact_us .contact_form .name::placeholder, .email::placeholder, .subject::placeholder {
    color: #fff;
}

.contact_us .contact_form .email {
    margin-right: 55px;
}



.contact_us .contact_form .text {
    width: 100%;
    padding-bottom: 230px;
    background: transparent;
    margin-bottom: 40px;
}

.contact_us .contact_form .submit_now {
    width: 100%;
    background-color: #ff7d66;
    border: 0;
    color: #ffffff;
    font-size: 20px;
    padding: 27px 0;
    cursor: pointer;
}

.contact_us_details {
    display: flex;
    background-color: #fff2ed;
    justify-content: center;
    padding-top: 30px;
    padding-bottom: 30px;
    opacity: 0;
    animation-duration: 6s;
}
.contact_us_details .article_contact_us {
    background-color: #fff;
    text-align: center;
    margin-right: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact_us_details .article_contact_us .fa-envelope{
    color: #fff;
    font-size: 60px;
    background-image: url(img/contact_us_first.png);
    padding: 43px 110px;
}

.contact_us_details .article_contact_us .fa-map-marker-alt{
    color: #fff;
    font-size: 60px;
    background-image: url(img/contact_us_second.png);
    padding: 43px 110px;
}
.contact_us_details .article_contact_us .fa-phone{
    color: #fff;
    font-size: 60px;
    background-image: url(img/contact_us_third.png);
    padding: 43px 110px;
}

.contact_us_details .article_contact_us .title_article {
    font-size: 16px;
    color: #464646;
    margin-top: 25px;

}
.contact_us_details .article_contact_us .link_article {
    color: #81868e;
    font-size: 14px;
    margin-top: 25px;
    margin-bottom: 50px;
    max-width: 150px;
    text-decoration: none;
}

.find_us {
    background-image: url(img/map_img.png);
    opacity: 0;
    animation-duration: 2s;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.find_us .background_color_find {
    background-color: rgba(0,0,0,0.5);
    padding: 275px 0;
    transition: 1s;
}

.find_us .background_color_find:hover {
    background-color: rgba(0,0,0,0);
}

.find_us .find_us_article .article_title {
    font-size: 20px;
    color: #fff;
    text-align: center;

}

.find_us .find_us_article .article_title .logo {
    display: inline;
    background-color: red;
    border-radius: 85px;
    padding: 14px 10px;
}

.main_footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 45px 0;
    opacity: 0;
    animation-duration: 2s;
}

.main_footer .copyright {
    font-size: 14px;
    color: #81868e;
    margin: 30px 0;
}

.main_footer .fa-facebook-f {
    background-color: #3b5998;
    padding: 5px 8px;
    border-radius: 50px;
}

.main_footer .fa-twitter {
    background-color: #26a6d1;
    padding: 5px 5px;
    border-radius: 50px;
}

.main_footer .fa-linkedin-in {
    background-color: #0e76a8;
    padding: 5px 6px;
    border-radius: 50px;
}

.main_footer .fa-instagram {
    background-color: #0e76a8;
    padding: 5px 6px;
    border-radius: 50px;
}

.main_footer .fa-vimeo-v {
    background-color: #86c9ef;
    padding: 5px 6px;
    border-radius: 50px;
    margin-right: 0;
}

.main_footer .fa-facebook-f, .fa-twitter, .fa-linkedin-in, .fa-instagram, .fa-vimeo-v {
    color: #fff;
    margin-right: 5px;
}

@keyframes slideUp {
    0% {
        opacity: 0;
        -webkit-transform: translateY(70%);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0%);
    }
}

@keyframes slideRight {
    0% {
        opacity: 0;
        -webkit-transform: translateX(70%);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateX(0%);
    }
}

@keyframes slideOpacity {
    0%{
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
